.page-wrapper {
	position: relative;
	margin: 0 auto;
	width: 800px;
	text-align: left;
	border-width: 2px;
    border-color: #212738;
    border-style: solid;
	}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}