.page-wrapper {
	position: relative;
	margin: 0 auto;
	width: 800px;
	text-align: left;
	border-width: 2px;
    border-color: #212738;
    border-style: solid;
	padding-bottom: 20px
	padding-left: 20px
	padding-right: 20px
	padding-top: 20px
	}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
