.page-wrapper {
	position: relative;
	margin: 0 auto;
	width: 800px;
	text-align: left;
	border-width: 2px;
    border-color: #212738;
    border-style: solid;
	}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
nav {
	border-width: 2px;
	border-style: solid;
	border-color: black;
}
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: #333;
}
li {
	display: inline;
}